.inputsDiscounts {
  display: flex;
  /* flex-direction: row;
  align-items: center; */
  justify-content: space-between;
}

.inputsReadOnly {
  width: 24%;
  display: inline-block;
  /* font-size: 1rem; */
}
